.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.gitkeep export-ignore
composer.json export-ignore
composer.lock export-ignore
package-lock.json export-ignore
package.json export-ignore
phpstan.neon export-ignore
vendor/**/bin export-ignore
vendor/**/tests? export-ignore
